/* CSS RESET */
* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* css variables  */
:root {
    --navbar-height: 59px;
}

/* navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.68;
}

/* navigation bar: logo and image */
#logo {
    margin: -2px 35px;
}

#logo img {
    /* height: 59px; */
    margin: 6px 22px;

}

/* navigation bar: list styling */
#navbar ul {
    display: flex;
    font-family:"Varela Round", sans-serif;
}
#navbar ul li a:hover{
    box-shadow: 7px 10px 8px;
    color: rgb(228, 201, 252);
}

#navbar ul li {
    list-style: none;
    font-size: 1.1rem;
}

#navbar ul li a {
    display: block;
    color: white;
    margin: 10px;
    padding: 12px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* home section  */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 200px;
    height: 685px;
}

#home::before {
    content: "";
    background: url('../img/bg11.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 685px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: "Varela Round", sans-serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Mukta', sans-serif;
}

/* services section */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 10px;
    border-radius: 28px;
    background-color: rgb(238, 225, 225);
    margin-bottom: 15px;
}
#services .box:hover{
    background-color: rgb(247, 187, 187);
    box-shadow: 12px 8px 12px;
    color: rgb(143, 25, 25);
}

#services .box img {
    height: 125px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: "Varela Round", sans-serif;
}

/* clients section */
/* #client-section {
    position: relative;
    z-index: -1;
    padding-bottom: 69px;
} */
#client-section {
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
    height: 395px;
}

#client-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.49;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.client-item {
    padding: 34px;
}

#clients img {
    /* height: 130px;
    justify-content: center;
    align-items: center;
    display: flex; */
    max-height: 110px;
    width: auto;
}


/* contact session  */
/* #contact {
    z-index: -1;
} */
#contact {
    position: relative;
    padding: 60px 0;
}

#contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url('../img/contact.jpg')no-repeat center center/cover;
}

/* contact session  */
#contact-box {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    padding-bottom: 43px;
    font-weight: bolder;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

/* #contact-box form {
    width: 30%;
} */
 #contact-box form {
    background: rgba(255, 255, 255, 0.85);
    padding: 25px;
    border-radius: 15px;
}


#contact-box label {
    font-size: 1.1rem;
    font-family: "Varela Round", sans-serif;
}

/* footer session  */
footer {
    color: white;
    background: black;
    padding: 15px 0;
    /* margin-top: 12px; */
    text-align: center;
}


/* utility classes */
.h-primary {
    margin-top: -5px;
    font-size: 3.1rem;
    padding: 4px;
    font-family: "Varela Round", sans-serif;
    font-weight: bolder;

}

.h-secondary {
    font-size: 2.1rem;
    padding: 12px;
    font-family: "Varela Round", sans-serif;

}

.btn {
    border: 2px solid white;
    color: white;
    background-color: rgb(154, 67, 67);
    font-size: 1.1rem;
    border-radius: 10px;
    margin: 17px;
    padding: 7px 17px;
    cursor: pointer;
    font-weight: bolder;
}

.center {
    text-align: center;
}
